.sandpack-layout {
    height: calc(100vh - 92px);
    display: grid;
    grid-template-columns: 220px minmax(0, 1.2fr) minmax(0, 1fr);
    overflow: hidden;
}

@media (max-width: 1024px) {
    .sandpack-layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(0, 1fr) minmax(0, 1fr);
    }
}
